# Node modules
node_modules/

# Compiled output
build/
dist/

# IntelliJ IDEA files
.idea/

# macOS specific files
.DS_Store

# TypeScript compilation output
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# Dependency lock files
package-lock.json
yarn.lock
